@media screen and (min-width: 991px) {
  .list {
    width: 100%;
  }
}
.skills {
  margin: 2% 10%;
}
.skill-heading {
  margin-top: 5%;
  margin-left: 14%;
  font-weight: bold;
}
.row {
  margin: 2% 4%;
  padding: 0;
}
ul > li {
  width: 100%;
}

@media only screen and (min-width: 481px) and (max-device-width: 990px) {
  .skill-heading {
    margin-top: 10%;
    width: 150px;
  }
  .skillBar {
    margin-top: 15%;
  }
  .list {
    width: 300px;
  }
}

@media only screen and (max-width: 480px) {
  .skills {
    margin: 2% 5%;
  }
  .row {
    margin: 0;
  }
  .skill-heading {
    margin-top: 10%;
    margin-left: 7%;
    margin-bottom: 30px;
    width: 150px;
  }

  .description h4 {
    text-align: center;
  }
  .footerAdjust {
    margin-top: 20px;
  }
}
